fastapi
uvicorn
gunicorn
Jinja2
firebase-admin
apscheduler
pydantic
fastapi==0.116.1
uvicorn==0.35.0
pydantic==2.11.7
pandas==2.3.2
numpy==2.3.3
scikit-learn==1.7.2
xgboost==3.0.5
joblib==1.5.2
schedule==1.2.2
psutil==7.0.0


